.main{
    /* display: flex;
    justify-content: center; */
}
.main-div{
    display: flex;
    background-color: red;
    margin: 10px 10px 10px 10px;
}

.main-div .head{
    color : white;
    /* border-radius: 50%; */
}
.delete-btn{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
}